mixin parallax()
	+b.parallax-container
		+b.bg#scene(data-relative-input="true"
					data-clip-relative-input="false"
					data-hover-only="false"
					data-input-element="#myinput"
					data-calibrate-x="false"
					data-calibrate-y="true"
					data-invert-x="false"
					data-invert-y="true"
					data-limit-x="false"
					data-limit-y="false"
					data-scalar-x="6"
					data-scalar-y="6"
					data-friction-x="0.2"
					data-friction-y="0.8"
					data-origin-x="0.0"
					data-origin-y="1.0"
					data-precision="1"
					data-pointer-events="true")
			+e.bg-item#bg0(data-depth="0.1"): img(src="images/png/bg0.png")
			+e.bg-item#bg1(data-depth="0.2"): img(src="images/png/bg1.png")
			+e.bg-item#bg2(data-depth="0.3"): img(src="images/png/bg2.png")
			+e.bg-item#bg3(data-depth="0.4"): img(src="images/png/bg3.png")
			+e.bg-item#bg4(data-depth="0.5"): img(src="images/png/bg4.png")
			+e.bg-item#bg5(data-depth="0.6"): img(src="images/png/bg5.png")
			+b.bg-item#bg6(data-depth="0.7")
				+b.game-category: a(href="#")
					+e.game-category-image: img(src="/images/png/chitaem.png" alt="Учимся читать")
					+e.game-category-name Учимся читать
			+b.bg-item#bg7(data-depth="0.7")
				+b.game-category: a(href="#")
					+e.game-category-image: img(src="/images/png/bolshe-menshe.png" alt="Больше-меньше")
					+e.game-category-name Больше-меньше